project:
  type: website
  preview: 
    port: 4200
  output-dir: docs  
lang: fr
language: 
  title-block-author-single: "Auteur"
website:
  title: "Boukary Ouedraogo<br><span class='nav-subtitle'>Consultant Data & Analytics – Finance, Risque & Décision</span>"
  page-navigation: false
  site-url: "https://oboukary.com"
  description: "Bienvenue sur mon site personnel. Je suis Boukary Ouedraogo, un passionné de la data science et ses applications business à forte value ajoutée. Explorez mes projets, articles de blog et plus encore !"
  
  page-footer:
    left: '<p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Boukary Ouedraogo</p>'
    center: "Site crée par avec ❤️, [Quarto](https://quarto.org/) et <img width='20' height='20' src='https://img.icons8.com/fluency/48/r-project.png' alt='r-project'/>"
    right:
      - icon: github
        href: https://github.com/oboukary/
      - icon: linkedin
        href: https://www.linkedin.com/in/oboukary/
      - icon: envelope
        href: mailto:ouedraogo.boukary89@gmail.com
  
  
  navbar:
    pinned: true
    right:
      - href: about.qmd
        text: Accueil
      
      - text: Blog
        href: posts/posts.qmd
        
      - text: Projets
        href: projects/projects.qmd
format:
  html:
    theme: [pulse, assets/scss/custom.scss]
    include-in-header:
      - text: |
          <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sas.min.js"></script>
    highlight-style:  assets/sas-studio.theme
    syntax-definitions:
      -  assets/xml/sas.xml
    css:  assets/css/syntax-languages.css
    include-after-body: 
      - assets/html/clean_pages_title.html  # Inclure le fichier JavaScript
    
    link-external-icon: false
    link-external-newwindow: true
    link-external-filter: '^(?:http:|https:)\/\/www\.ouedraogo-boukary\.com\/**'
    citations-hover: true
    footnotes-hover: true
    toc: false
    code-link: true
execute:
  freeze: auto
resources:
  - assets/**
